.root{
	-fx-base: #202020FF;
	-xe-scheme-color: #C0C0C0;
}

/*******************************************************************************
 * Icons
 ******************************************************************************/
.xe-icon {
	-fx-stroke: ladder(
		-fx-text-background-color,
		derive(-xe-scheme-color, -50%) 50%,
		derive(-xe-scheme-color, 50%) 50%
	);
	-fx-stroke-width: 0.125; /* 4/32 */

	/* FIXME Maybe this attribute should be named -fx-highlight or -fx-primary */
	-fx-accent-color: ladder(
		-fx-text-background-color,
		#206080 50%,
		#6390a6 50%
	);
}
